extends layout

block content
  h1= title
  p This is Akhil Babu Yarlagadda hosting Exprees.
  if (!user) 
      a(href="/login") Login 
      br 
      a(href="/register") Register 
      br
      a(href="/players/update") Update 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/players") Take me to players 
    br 
    a(href="/logout") Logout 