extends layout  
 
block content 
  h1= title 
 
  form(id='PlayerForm', action="/resource/player", method="POST") 
    div.form-group 
        label.playerAttr(for='Player_name') Player Name 
        input#Player_name(type='text', name='Player_name', minlength="20", maxlength="50") 
    div.form-group 
        label.playerAttr(for='Batting_style') Batting Style
        input#Batting_style(type='text', name='Batting_style') 
    div.form-group 
        label.playerAttr(for='Purchased_cost') Player cost 
        input#Purchased_cost(type='number', name='Purchased_cost', min="1000" , max="2000") 
    input(type="submit") 
 
  script. 
    document.forms['PlayerForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) //event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 