body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.margin-top{
  margin-top: 100px;
}

.playerAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

.label-type{
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
}
div.form-group {
  display: flex;
  margin-bottom: 15px;
}

.text-center{
  text-align: center;
}